.info-principali{
    height: 400px;
    background-color:blue;
}

.first-box{
    height: 50px;
    background-color: red;
}

.second-box{
    height: 50px;
    background-color: aqua;
}

.third-box{
    height: 50px;
    background-color: blueviolet;
}

.fourth-box{
    height: 50px;
    background-color: darkgreen;
}

.fifth-box{
    height: 50px;
    background-color: deeppink;
}

footer{
    height: 350px;
    background-color: black;
}