.info-principali{
    height: 400px;
    background-color:blue;
}

main{
    margin-left: 100px;
    margin-right: 100px;
}

main>div{
    display: flex;
    justify-content: space-between;
}

.first-box{
    height: 100px;
    flex-basis: 60%;
    background-color: red;
}

.second-box{
    height: 100px;
    flex-basis: 60%;
    background-color: aqua;
}

.third-box{
    height: 100px;
    flex-basis: 60%;
    background-color: blueviolet;
}

.fourth-box{
    height: 100px;
    flex-basis: 60%;
    background-color: darkgreen;
}

.fifth-box{
    height: 100px;
    flex-basis: 60%;
    background-color: deeppink;
}

footer{
    height: 350px;
    background-color: black;
}